#calculator{
    margin: inherit;
    width: 210px;
    padding: 7px;
    background-color: lavender;
    border: groove 2px;
}
#calculator > div{
    border: 1px solid;
    margin: 2px;
    background-color: whitesmoke;
}
#calculator input{
    width: 140px;
    height: 31px;
    margin: 2px;
    background-color: inherit;
    border: none;
    text-align: right;
}
#calcClearBtn{
    width: 31px;
    height: 27px;
    margin-left: 5px;
}
.calcBtn{
    width: 45px;
    height: 35px;
    margin: 2px;
    background-color: whitesmoke;
    border: 1px solid;
    cursor: pointer;
}
.calcBtn:hover{
    background-color: black;
    color: white;
}